@{
    ViewData["Title"] = "Wallets - Deposit";
}

<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <h1 class="display-4">Deposit</h1>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">


                <h4>Deposit</h4>
                <div class="table-responsive">
                    
                </div>
                <hr />

            </div>
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {
        $("#selectCurrency option:first").attr('selected', 'selected');
        //$("#selectCurrency option:first").prop("selected", "selected");

        $("#createButton").click(function () {
            var currency = $('#selectCurrency').find(":selected").val();;
            createWallet(currency);
        });
    });

    function createWallet(currency) {
        var url = "/wallets/create/" + currency;
        $.get(url, function (data) {
            var address = data;

            $("#walletsList").append('<li>' + data.id + ' ' + data.currencyAcronim + ' ' + data.value + ' ' + data.address + '</li>');


        });
    }

</script>